*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Bebas Neue', sans-serif;
    scroll-behavior: smooth;
}

body {
    background-color: #FCEDD2;
}

header{
    position: fixed;
    top: 0%;
    left: 0%;
    padding: 20px 10px;
    width: 100%;
    z-index: 1;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    transition: 0.5s;
    background-color: #fcedd2e0;
}

.logo{
    color: #6bdb84;
    font-weight: 900;
    font-size: 3em;
    text-decoration: none;
    display: flex;
}
.logo span{
    color: #5c3200;
}
.logo:hover{
    background-color: #ffffff34;
}

.navbar{
    display: flex;
    position: relative;
}
.navbar li{
    list-style: none;
}
.navbar a{
    color: #5c3200;
    font-size: 2em;
    text-decoration: none;
    margin-left: 30px;
    font-weight: 700;
}

.banniere{
    position: relative;
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(./images/landscape.jpg);
    background-size: cover;
}

.banniere .contenu{
    max-width: 70%;
    text-align: center;
}
.banniere .contenu h2{
    color: #fff;
    font-size: 3em;
    text-transform: capitalize;
}
.contenu p:nth-child(2){
    color: #fff;
    font-size: 1.2em;
}

.btn1 {
    font-size: 1em;
    color: #fff;
    background: #5c3200;
    padding: 10px 20px;
    display: inline-block;
    margin-top: 20px;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 2px;
    transition: 0.5s;
    margin-left: 10px;
}

.btn2{
    font-size: 1em;
    color: #fff;
    background: #2a4963;
    padding: 10px 20px;
    display: inline-block;
    margin-top: 20px;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 2px;
    transition: 0.5s;
    margin-left: 10px;
}

.titre{
    color: #5c3200;
    font-size: 2em;
    font-weight: 300px;
    text-transform: capitalize;
}

.information{
    background-color: #FCEDD2;
}