*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Bebas Neue', sans-serif;
    scroll-behavior: smooth;
}

body {
    background-color: #ccffbf;
}

.logo{
    display: flex;
    justify-content: center;
}

.navbar{
    position: absolute;
    padding: 10px;
    width: 100%;
    z-index: 1;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: 0.5s;
    box-sizing: border-box;
    background-color: #fcedd2e0;
}

.navbar a:not(.btn-signup, .btn-login) {
    color: #7c4c24;
    font-size: 45px;
    text-decoration: none;
    vertical-align: middle;
    margin-left: 30px;
    font-weight: 700;
    font-family: 'Bebas Neue', sans-serif;
}

.navbar a:hover:not(.btn-signup, .btn-login) {
    color: #149c3c;
}

.navbar .navlinks ul{
    align-items: center;
}

.navbar .navlinks ul li{
    display: inline-block;
    list-style: none;
    margin: 0 25px;
}

.navbar .navlinks ul li.active a{
    color: #149c3c;
    font-weight: 600;
}

.navbar .btn-menu{
    position: absolute;
    right: 10px;
    display: none;
}

.auth-buttons {
    display: flex;
    align-items: center;
}

.btn-signup,
.btn-login {
    font-size: 0.8em;
    color: #fff;
    padding: 8px 15px;
    margin-left: 10px;
    text-decoration: none;
    letter-spacing: 2px;
    transition: 0.5s;
    background: transparent;
    border: none;
    cursor: pointer;
    font-family: sans-serif;
}

.btn-signup {
    background: #4caf50;
}

.btn-login {
    background: #fff;
    color: black;
    border: 2px solid grey;
}

.title {
    font-size: 50px;
    line-height: 80px;
}

.text {
    font-size: 25px;
    line-height: 40px;
    word-spacing: 5px;
}

@media screen and (max-width:1250px){
    .navbar{
        padding: 10;
    }

    .navlinks{
        top: 0;
        left: 0;
        position: absolute;
        background-color: #fcedd2b0;
        backdrop-filter: blur(5px);
        width: 100%;
        height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-left: 100%;
        transition: all 0.5s ease;
    }

    .navbar a{
        color: #7c4c24;
        font-size: 3em;
        text-decoration: none;
        margin-left: 30px;
        font-weight: 700;
    }

    .navbar a:hover{
        color: #149c3c;
        text-decoration: none;
        margin-left: 30px;
        font-weight: 700;
    }

    .navlinks.mobile-menu{
        margin-left: 0%;
    }

    .navlinks ul{
        display:flex;
        flex-direction: column;
    }

    .navbar .btn-menu{
        display: block;
    }

}



.accueil{
    position: relative;
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(../images/warm-landscape.jpg);
    background-size: cover;
}

.info{
    position: relative;
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(../images/warm-landscape.jpg);
    background-size: cover;
}

.contenu {
    background-color: #fcedd2e0;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    max-width: 70%;
    text-align: center;
}

.contenu h2{
    color: #7c4c24;
    font-size: 3em;
    text-transform: capitalize;
}

.contenu p:nth-child(2){
    color: #7c4c24;
    font-size: 1.2em;
}

.btn1 {
    font-size: 1em;
    color: #fff;
    background: #5c3200;
    padding: 10px 20px;
    display: inline-block;
    margin-top: 20px;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 2px;
    transition: 0.5s;
    margin-left: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.btn1:active {
    font-size: 1em;
    background: #fff;
    color: #5c3200;
    padding: 10px 20px;
    display: inline-block;
    margin-top: 20px;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 2px;
    transition: 0.5s;
    margin-left: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.btn2{
    font-size: 1em;
    color: #fff;
    background: #2a4963;
    padding: 10px 20px;
    display: inline-block;
    margin-top: 20px;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 2px;
    transition: 0.5s;
    margin-left: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.btn2:active {
    font-size: 1em;
    background: #fff;
    color: #2a4963;
    padding: 10px 20px;
    display: inline-block;
    margin-top: 20px;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 2px;
    transition: 0.5s;
    margin-left: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}