<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="./static/styles/style.css" />
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap" rel="stylesheet">
        <title>CarTri</title> 
    </head>
    <header>
        <nav class="navbar">
            <a href="/" class="logo"><img src="./static/images/Logo_PPII.svg" alt="Logo" height="60px" width="225px"></a>
            <div class="navlinks">
                <ul>
                    <li><a href="#accueil">Accueil</a></li>
                    <li><a href="map">Carte</a></li>
                    <li><a href="#info">Information</a></li>
                    <li><a href="dons">Faire un don</a></li>
                </ul>
            </div>
            <div class="auth-buttons">
                <a href="/register" class="btn-signup">S'inscrire</a>
                <a href="/login" class="btn-login">Se connecter</a>
            </div>
            <img src="./static/images/bouton_menu.svg" alt="bouton menu" class="btn-menu" width="50px" height="50px">
        </nav>
    </header>           
    <body>
        <script>
            const menuHamburger = document.querySelector(".btn-menu")
            const navLinks = document.querySelector(".navlinks")
     
            menuHamburger.addEventListener('click',()=>{
            navLinks.classList.toggle('mobile-menu')
            })
        </script>
        <section class="accueil" id="accueil">
            <div class="contenu">
                <h2><span class="title">Pour trouver les points de recyclage près de chez vous !</span></h2>
                <p><span class="text">On vous propose une carte interactive qui vous permet de localiser les points de recyclage près de chez vous, pour le type de déchets que vous souhaitez recycler !</span></p>
                <a href="map" class="btn1">Carte</a>
                <a href="#" class="btn2">Partenaires</a>
            </div>
        </section>
        <section class="info" id="info">
            <div class="contenu">
                <h2><span class="title">L'initiative CarTri</span></h2>
                <p><span class="text">CarTri est une plateforme communautaire dédiée à la promotion du recyclage dans nos villes. 
                    CarTri offre vous offre un accès à une carte interactive répertoriant les 
                    centres de recyclage locaux, facilitant ainsi la gestion responsable des déchets. 
                    Explorez la carte conviviale, obtenez des détails sur les centres, et rejoignez une 
                    communauté éco-responsable. Notre engagement va au-delà de la simple accessibilité,
                    car nous visons à sensibiliser la communauté à propos des pratiques écoresponsables. 
                    CarTri encourage la participation active à la préservation de l'environnement en facilitant 
                    le recyclage et en favorisant la réutilisation des matériaux. Rejoignez-nous aujourd'hui pour 
                    un avenir plus durable avec CarTri - Pour une communauté engagée et un environnement plus propre !</span></p>
                <a href="register" class="btn2">Créer un compte ici !</a>
            </div>
        </section>
    </body>
</html>