<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Trouvez un centre de tri proche de vous !</title>
    <link rel="stylesheet" href="https://unpkg.com/leaflet/dist/leaflet.css" />
    <link rel="stylesheet" href="static/styles/styles.css" />
    <script src="https://unpkg.com/leaflet/dist/leaflet.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/PapaParse/5.3.0/papaparse.min.js"></script>
    <script src="https://unpkg.com/leaflet.markercluster/dist/leaflet.markercluster.js"></script>
</head>
<body>
    <button id="returnButton">Retour</button>
    <div id="search-container">
        <input type="text" id="addressInput" placeholder="Entrez une adresse">
        <button id="searchButton">Rechercher</button>
    </div>
    <div id="map"></div></div>
    <div id="sidebar">
        <div id="visible-centers-list"></div>
      </div>
    <script src="static/map.js"></script>
    <script>document.getElementById('returnButton').addEventListener('click', function() {
        window.location.href = '/';});
    </script>
</body>
</html>